*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
}
.cat{
    height: 200px;
    margin: 0 auto;
    border: 1px solid black;
    

}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.parchment{
    background-color: blanchedalmond;
}
.car{
    width: 150px;
}
.blue{
    font-size: 20px;
    color: blue;
}
.frame{
    width: 350px;
    height: 350px;
    border: 1px solid black;
    margin-bottom: 50px;
    padding: 15px;
    text-align: center;
    background-color: lightgrey;
}
.expressForm{
    width: 350px;
    height: 350px;
    padding: 15px;
    background-color: aliceblue;
}