<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cars</title>
</head>
<body>
    <div class="header">
        <h1>Lets's see some Cars</h1>
    </div>
    <br>
    <div class="wrapper">
        <div class= "frame">
            <img src="/images/Zcar.jpg" alt="the best car" class="cat">
            <br>
            <br>
            <hr>
            <br>
            <p class="blue">My favorite car</p>
        </div>
        <div class= "frame">
            <img src="/images/stingCar.jpg" alt="stingray" class="cat">
            <br>
            <br>
            <hr>
            <br>
            <p class="blue">A pretty slick car</p>
        </div>
        <div class= "frame">
            <img src="/images/dakar.jpg" alt="rally car" class="cat">
            <br>
            <br>
            <hr>
            <br>
            <p class="blue">Rally Cars are cool</p>
        </div>
        <div class= "frame">
            <img src="/images/102.png" alt="car?" class="cat">
            <br>
            <br>
            <hr>
            <br>
            <p class="blue">Questionable content.</p>
        </div>
    </div>
    <div class="header">
        <a href="/cats">See some Cats</a> | <a href="/">Index</a> | <a href='/addCar'>Add a Car</a>
    </div>
</body>
</html>