<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cats</title>
</head>
<body>
    <div class="header">
        <h1>Let's see some Cats</h1>
    </div>
    <br>
    <div class="wrapper">
        <div class= "frame">
            <img src="/images/Cats.jpg" alt="first cat pic" class="cat">
            <br>
            <br>
            <hr>
            <br>
            <p class="blue">A Cool Cat?</p>
        </div>
        <div class= "frame">
            <img src="/images/cat12.jpg" alt="first cat pic" class="cat">
            <br>
            <br>
            <hr>
            <br>
            <p class="blue">A Coolor Cat?</p>
        </div>
        <div class= "frame">
            <img src="/images/IntiminCat.jpg" alt="first cat pic" class="cat">
            <br>
            <br>
            <hr>
            <br>
            <p class="blue">What is cool Cat?</p>
        </div>
        <div class= "frame">
            <img src="/images/giphy.gif" alt="first cat pic" class="cat">
            <br>
            <br>
            <hr>
            <br>
            <p class="blue">Some Cool Cats</p>
        </div>
    </div>
    <div class="header">
        <a href="/cars">See some Cars</a> | <a href="/">Index</a>
    </div>
</body>
</html>