<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Da Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <h1 class="blue">Add a Car?</h1>
    </div>
    <br>
    <div class="wrapper">
        <form action="/nowhere" method="POST">
        <fieldset class=expressForm>
            <legend>Nonfunctioning Form</legend>
            <p>Make: <input type=text></p>
            <p>Model: <input type=text></p>
            <p>Year: <input type=text></p>
            <input type="submit" value="Add?">
        </fieldset>
        </form>
    </div>
    <div class="header">
        <a href="/cats">See some Cats</a> | <a href="/cars">See some Cars</a> | <a href="/">Index</a>
    </div>
</body>
</html>